/* Write your CSS here */
.gender-container {
  display: flex;
  flex-direction: column;
  color: #1c1c2b;
  margin-bottom: 20px;
  padding: 20px;
}
.heading {
  font-family: roboto;
  color: #94a3b8;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}
